@if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "success")
{
    <div class="alert alert-success" role="alert">
        All records inserted successfully
    </div>
}
else if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "empty")
{
    <div class="alert alert-warning" role="alert">
        File is empty
    </div>
}

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <label>Select Excel File</label>
        <input type="file" name="file" />
    </div>
    <br />
    <div class="row">
        <div class="col-3">
            <input type="submit" asp-controller="Home" asp-action="UploadExcel" class="btn btn-dark" value="Upload Excel File" />
        </div>
    </div>
</form>