@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thanh toán VnPay tại <a href="https://code-mega.com">Code Mega</a></h1>
    <p>Learn about <a href="https://code-mega.com">building Web apps with ASP.NET Core</a>.</p>

    <h2>Thông tin giao dịch</h2>
    <p>Tên khách hàng: @ViewBag.CustomerName</p>
    <p>Số tiền: @ViewBag.Amount</p>
    <p>Nội dung: @ViewBag.Description</p>

</div>

<div class="table-responsive">
    <form action="/Home/CreatePaymentUrl" id="frmCreateOrder" method="POST">
        <div class="form-group">
            <label for="ordertype">Loại hàng hóa </label>
            <select name="OrderType" id="ordertype" class="form-control">
                <option value="electric">Đồ điện tử</option>
                <option value="fashion">Thời trang</option>
                <option value="other">Khác</option>
            </select>
        </div>
        <br/>
        <div class="form-group">
            <label for="Name">Tên khách hàng</label>
            <input class="form-control"
                   id="Name"
                   name="Name"
                   type="text"
                   value="Code Mega">
        </div>
        <br/>
        <div class="form-group">
            <label for="Amount">Số tiền</label>
            <input class="form-control"
                   id="Amount"
                   name="Amount"
                   type="text"
                   value="20000000">
        </div>
        <br/>
        <div class="form-group">
            <label for="OrderDescription">Nội dung thanh toán</label>
            <textarea class="form-control" 
                      cols="20" 
                      id="OrderDescription" 
                      name="OrderDescription" 
                      rows="2">Thanh toán tại Code Mega</textarea>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Thanh toán (Checkout)</button>
    </form>
</div>